<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button  defaultHref="/maps" (click)="salirSinArg()"></ion-back-button><font size="1px">Atras</font>
    </ion-buttons>
    <ion-title><font size="3px">{{ origenServ}}{{ destinoServ }}</font></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
            
  <ion-searchbar  cancel-button-icon='md-arrow-back' [(ngModel)]="search" #searchInput (ionChange)="searchDireccion()"Placeholder="Ingrese lugar a buscar.." autofocus="true" ></ion-searchbar>

<ion-list>
  <div  *ngFor="let result of searchResult">

    <ion-item name="dato" (click)="salirConArg(result)" color="light" expand="full" fill="solid">
      {{ result.description}}
    </ion-item>
    
  </div> 

</ion-list>

 <!--<ion-button expand ="full" (click)="salirSinArg()" >Regresar</ion-button>
<ion-button expand="full" (click)="salirConArg($event)" >Salir CON argumento</ion-button>-->


</ion-content>