<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/tabs-truck-services/truckservices" (click)="ngOnDestroy"></ion-back-button><font size="1px">Atras</font>
    </ion-buttons>
    <ion-title><font size="4px">Entregar servicio</font></ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="geolocateMe()" color="secondary">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <google-map [mapOptions]="mapOptions"></google-map>
  
  <ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">    
      <p><strong><font size="2px" color="Black">Descripción:</font></strong><font size="2px">{{data.descripcionServ}}</font></p> 
      <p><strong><font size="2px" color="Black">Cantidad:</font></strong><font size="2px">{{data.cantidadUnd}} - Unidades.</font></p>     
    </ion-label> 
  </ion-item>

<ion-item>
  <p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="5" (change)="onChangeHandler($event)">
    <label for="radio1">★</label>
    <input id="radio2" type="radio" name="estrellas" value="4"  (change)="onChangeHandler($event)">
    <label for="radio2">★</label>
    <input id="radio3" type="radio" name="estrellas" value="3"  (change)="onChangeHandler($event)">
    <label for="radio3">★</label>
    <input id="radio4" type="radio" name="estrellas" value="2"  (change)="onChangeHandler($event)">
    <label for="radio4">★</label>
    <input id="radio5" type="radio" name="estrellas" value="1" (change)="onChangeHandler($event)">
    <label for="radio5">★</label>
    <font size="3px" color="#d9d9d9">Calificación Servicio:</font>
  </p>
</ion-item>
<ion-button shape="round" color="primary" size="long" type="submit" (click)='finalizarEntrega()' expand="block" >Finalizar Entrega</ion-button>
</ion-content>